@media (max-width: 650px) { body { min-width: 'initial' } }
            @media (min-width: 651px) { body { min-width: 940px } }.template { visibility: hidden }
body { overflow-x: hidden }
                        .bodyBackground {
                            
background-image:none;
background-color:rgba(255,255,255,1);
                        }